# STRAPI
APP_KEYS=<String Key>
API_TOKEN_SALT=<Strapi Token Salt Key>
ADMIN_JWT_SECRET=<Strapi JWT Secret>
JWT_SECRET=<Strapi JWT Secret>
DATABASE_FILENAME=<Strapi sqlite3 filepath: .tmp/data.db>

# SYMBOL
ADMIN_PRIVATEKEY="string"
ADMIN_PUBLICKEY="string"
SENDER_PUBLICKEY=""
BOT_PRIVATEKEY=""
NETWORKTYPE=152